<h1> Thanks for your order </h1>

<p> Your order has been received </h2>

<p>
  <%= link_to "Back to Home", root_path %>
</p>

<p><%= @order.first_name %></p>
<p><%= @order.email %></p>

<% @order.order_items.each do |item| %>


  <%= item.product.title %>

<% end %>
